<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

<bean id="YWDao" class="com.ydsn.tms.dao.imp.nbchrkgl_huowuyiweiDAOImp" parent="baseDAO"></bean>
<bean id="CarDao3" class="com.ydsn.tms.dao.imp.jcxx_CargoSpaceImp" parent="baseDAO"></bean>
<bean id="StoDao" class="com.ydsn.tms.dao.imp.StoreroomDAOImp" parent="baseDAO"></bean>
<bean id="ComDao3" class="com.ydsn.tms.dao.imp.jcxx_ComFileDAOImp" parent="baseDAO"></bean>
<bean id="YWSer" class="com.ydsn.tms.service.imp.nbchrkgl_huowuyiweiServiceImp">
<property name="ywdao" ref="YWDao"></property>
<property name="cardao3" ref="CarDao3"></property>
<property name="stodao" ref="StoDao"></property>
<property name="yw_comdao" ref="ComDao3"></property>
</bean>
<bean id="showYWAct" class="com.ydsn.tms.action.nbchrkgl_huowuyiweiAction" scope="prototype">
  <property name="ywser" ref="YWSer"></property>
</bean>
<bean id="addYWAct" class="com.ydsn.tms.action.nbchrkgl_huowuyiweiAction" scope="prototype">
  <property name="ywser" ref="YWSer"></property>
</bean>
<bean id="updateYWAct" class="com.ydsn.tms.action.nbchrkgl_huowuyiweiAction" scope="prototype">
  <property name="ywser" ref="YWSer"></property>
</bean>
<bean id="deleteYWAct" class="com.ydsn.tms.action.nbchrkgl_huowuyiweiAction" scope="prototype">
  <property name="ywser" ref="YWSer"></property>
</bean>

</beans>