<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

<bean id="Recdao" class="com.ydsn.tms.dao.imp.jcxx_ReceiveFileDAOImp" parent="baseDAO"></bean>
<bean id="RecSer" class="com.ydsn.tms.service.imp.jcxx_ReceiveFileServiceImp">
      <property name="dao" ref="Recdao"></property>
</bean>
<bean id="showRecAct" class="com.ydsn.tms.action.jcxx_ReceiveFileAction" scope="prototype">
    <property name="ser" ref="RecSer"></property>
</bean>
<bean id="showRec_nameAct" class="com.ydsn.tms.action.jcxx_ReceiveFileAction" scope="prototype">
    <property name="ser" ref="RecSer"></property>
</bean>
<bean id="addRecAct" class="com.ydsn.tms.action.jcxx_ReceiveFileAction" scope="prototype">
    <property name="ser" ref="RecSer"></property>
</bean>
<bean id="deleteRecAct" class="com.ydsn.tms.action.jcxx_ReceiveFileAction" scope="prototype">
    <property name="ser" ref="RecSer"></property>
</bean>
<bean id="updateRecAct" class="com.ydsn.tms.action.jcxx_ReceiveFileAction" scope="prototype">
    <property name="ser" ref="RecSer"></property>
</bean>

</beans>