<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
  <bean id="LogDao" class="com.ydsn.tms.dao.imp.LoginDAOImp" parent="baseDAO"></bean>
  <bean id="LogSer" class="com.ydsn.tms.service.imp.LoginServiceImp">
     <property name="log_dao" ref="LogDao"></property>
  </bean>
  <bean id="loginAct" class="com.ydsn.tms.action.LoginAction" scope="prototype">
     <property name="log_ser" ref="LogSer"></property>
  </bean>




</beans>