<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

<bean id="PwdDao" class="com.ydsn.tms.dao.imp.xtgl_UserUpdPwdDAOImp" parent="baseDAO">
</bean>
<bean id="PwdSer" class="com.ydsn.tms.service.imp.xtgl_UserUpdPwdServiceImp">
   <property name="pwddao" ref="PwdDao"></property>
</bean>
<bean id="vilPwdAct" class="com.ydsn.tms.action.xtgl_UserUpdPwdAction" scope="prototype">
   <property name="pwdser" ref="PwdSer"></property>
</bean>
<bean id="submitAct" class="com.ydsn.tms.action.xtgl_UserUpdPwdAction" scope="prototype">
   <property name="pwdser" ref="PwdSer"></property>
</bean>



</beans>